<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.niuniu.ym.dao.BuyStockDao">
    <resultMap type="BuyStock" id="BuyStockResultMap">
        <id property="id" column="id"/>
        <result property="stockName" column="stock_name"/>
        <result property="stockCode" column="stock_code"/>
        <result property="createTime" column="create_time"/>
        <result property="nowPrice" column="now_price"/>
        <result property="model" column="model"/>
        <result property="yingli" column="yingli"/>
        <result property="day" column="day"/>
    </resultMap>

    <sql id="BuyStock_table_name">buy_stock</sql>

    <sql id="BuyStock_Where_Clause">
        <where>
            <if test="id != null and id != 0">
                and id=#{id}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name=#{stockName}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code=#{stockCode}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time LIKE '%${createTime}%'
            </if>
            <if test="nowPrice != 0">
                and now_price=#{nowPrice}
            </if>

            <if test="model == ''">
                and (model='买入' OR model='加仓')
            </if>
            <if test="model != null and model != ''">
                and model=#{model}
            </if>
            <if test="yingli != null and yingli!= ''">
                and yingli=#{yingli}
            </if>
            <if test="day != null and day != 0">
                and day=#{day}
            </if>
        </where>
    </sql>
    <sql id="Update_BuyStock_Where_Clause">
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name=#{stockName}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code=#{stockCode}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time=#{createTime}
            </if>
            <if test="nowPrice != 0">
                and now_price=#{nowPrice}
            </if>
            <if test="model != null">
                and model=#{model}
            </if>
            <if test="yingli != null">
                and yingli=#{yingli}
            </if>
            <if test="day != null">
                and day=#{day}
            </if>
        </where>
    </sql>
    <sql id="BuyStock_Column_List">
	      id,
	      stock_name,
	      stock_code,
	      create_time,
	      now_price,
	      model,
	      yingli,
	      day
	</sql>
    <sql id="BuyStock_Attr_List">
	      #{id},
	      #{stockName},
	      #{stockCode},
	      #{createTime},
	      #{nowPrice},
	      #{model},
	      #{yingli},
	      #{day}
	  </sql>
    <sql id="BuyStock_Column_List_NoId">
			stock_name,
			stock_code,
			create_time,
			now_price,
			model,
			yingli,
			day
	</sql>
    <sql id="BuyStock_Attr_List_NoId">
	      #{stockName},
	      #{stockCode},
	      #{createTime},
	      #{nowPrice},
	      #{model},
	      #{yingli},
	      #{day}
	  </sql>
    <select id="listAll" resultMap="BuyStockResultMap">
        select
        <include refid="BuyStock_Column_List"/>
        from
        <include refid="BuyStock_table_name"/>
    </select>
    <select id="searchByFilter" parameterType="BuyStockFilter" resultMap="BuyStockResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="BuyStock_Column_List"/>
        from
        <include refid="BuyStock_table_name"/>
        <include refid="BuyStock_Where_Clause"/>
        <if test="orderField != null">
            order by ${orderField}
        </if>
        <if test="orderDirection != null">
            ${orderDirection}
        </if>
        <if test="pager == true">
            limit #{rows},#{numPerPage}
        </if>

    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BuyStockResultMap">
        select
        <include refid="BuyStock_Column_List"/>
        from
        <include refid="BuyStock_table_name"/>
        where id = #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="BuyStock_table_name"/>
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="BuyStock" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="BuyStock_table_name"/>
        (
        <include refid="BuyStock_Column_List_NoId"/>
        ) VALUES (
        <include refid="BuyStock_Attr_List_NoId"/>
        )
    </insert>
    <insert id="insertBySelective" parameterType="BuyStock" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="BuyStock_table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name,
            </if>
            <if test="stockCode != null and stockCode != ''">
                stock_code,
            </if>
            <if test="createTime != null and createTime != ''">
                create_time,
            </if>
            <if test="nowPrice != 0">
                now_price,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="yingli != null">
                yingli,
            </if>
            <if test="day != null">
                day,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null">
                #{id},
            </if>
            <if test="stockName != null and stockName != ''">
                #{stockName},
            </if>
            <if test="stockCode != null and stockCode != ''">
                #{stockCode},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime},
            </if>
            <if test="nowPrice != 0">
                #{nowPrice},
            </if>
            <if test="model != null">
                #{model},
            </if>
            <if test="yingli != null">
                #{yingli},
            </if>
            <if test="day != null">
                #{day},
            </if>
        </trim>
    </insert>
    <select id="countByFilter" parameterType="BuyStockFilter" resultType="java.lang.Integer">
        select count(1) from
        <include refid="BuyStock_table_name"/>
        <include refid="BuyStock_Where_Clause"/>
    </select>
    <update id="updateBySelective" parameterType="BuyStock">
        update
        <include refid="BuyStock_table_name"/>
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name=#{stockName},
            </if>
            <if test="stockCode != null and stockCode != ''">
                stock_code=#{stockCode},
            </if>
            <if test="createTime != null and createTime != ''">
                create_time=#{createTime},
            </if>
            <if test="nowPrice != 0">
                now_price=#{nowPrice},
            </if>
            <if test="model != null">
                model=#{model},
            </if>
            <if test="yingli != null">
                yingli=#{yingli},
            </if>
            <if test="day != null">
                day=#{day},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="update" parameterType="BuyStock">
        update
        <include refid="BuyStock_table_name"/>
        set
        id=#{id},
        stock_name=#{stockName},
        stock_code=#{stockCode},
        create_time=#{createTime},
        now_price=#{nowPrice},
        model=#{model},
        yingli=#{yingli},
        day=#{day}
        where id=#{id}
    </update>
</mapper> 
