<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.niuniu.ym.dao.StockDao">
    <resultMap type="Stock" id="StockResultMap">
        <id property="id" column="id"/>
        <result property="stockCode" column="stock_code"/>
        <result property="stockName" column="stock_name"/>
        <result property="type" column="type"/>
        <result property="selTime" column="sel_time"/>
        <result property="buy" column="buy"/>
        <result property="season" column="season"/>
        <result property="orderNum" column="order_num"/>
        <result property="plate" column="plate"/>
        <result property="fileUrl" column="fileUrl"/>
        <result property="zClose" column="z_close"/>
        <result property="hPrice" column="h_price"/>
        <result property="lPrice" column="l_price"/>
        <result property="monitor" column="monitor"/>
    </resultMap>

    <sql id="Stock_table_name">stock</sql>

    <sql id="Stock_Where_Clause">
        <where>
            <if test="id != null and id!=0">
                and id=#{id}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code like CONCAT(CONCAT('%', #{stockCode}), '%')
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name like CONCAT(CONCAT('%', #{stockName}), '%')
            </if>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
            <if test="plate != null and plate != ''">
                and plate=#{plate}
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                and fileUrl=#{fileUrl}
            </if>
            <if test="season != null and season != ''">
                and season like CONCAT(CONCAT('%', #{season}), '%')
            </if>
            <if test="startTime != null and endTime != null">
                and sel_time BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="buy != null and buy != ''">
                and buy=#{buy}
            </if>
            <if test="orderNum != null">
                and order_num=#{orderNum}
            </if>
            <if test="monitor != null  and monitor != 0">
                and monitor=#{monitor}
            </if>
        </where>
    </sql>
    <sql id="Update_Stock_Where_Clause">
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="stockCode != null and stockCode != ''">
                and stock_code=#{stockCode}
            </if>
            <if test="stockName != null and stockName != ''">
                and stock_name=#{stockName}
            </if>
            <if test="type != null and type!=''">
                and type=#{type}
            </if>
            <if test="plate != null and plate!=''">
                and plate=#{plate}
            </if>
            <if test="fileUrl != null and fileUrl!=''">
                and fileUrl=#{fileUrl}
            </if>
            <if test="zClose != null ">
                and z_close=#{zClose}
            </if>
            <if test="selTime != null">
                and sel_time=#{selTime}
            </if>
            <if test="buy != null">
                and buy=#{buy}
            </if>
            <if test="season != null and season != ''">
                and season=#{season}
            </if>
            <if test="orderNum != null">
                and order_num=#{orderNum}
            </if>
            <if test="hPrice != null">
                and h_price=#{hPrice}
            </if>
            <if test="lPrice != null">
                and l_price=#{lPrice}
            </if>
            <if test="monitor != null">
                and monitor=#{monitor}
            </if>
        </where>
    </sql>
    <sql id="Stock_Column_List">
	      id,
	      stock_code,
	      stock_name,
	      type,
	      plate,
	      fileUrl,
	      z_close,
	      sel_time,
	      buy,
	      season,
	      order_num,
	      h_price, 
	      l_price,
	      monitor
	</sql>
    <sql id="Stock_Attr_List">
	      #{id},
	      #{stockCode},
	      #{stockName},
	      #{type},
	      #{plate},
	      #{fileUrl},
	      #{zClose},
	      #{selTime},
	      #{buy},
	      #{season},
	      #{orderNum},
	      #{hPrice},
	      #{lPrice},
	      #{monitor}
	  </sql>
    <sql id="Stock_Column_List_NoId">
			stock_code,
			stock_name,
			type,
			plate,
			fileUrl,
			z_close,
			sel_time,
			buy,
			season,
			order_num,
			h_price,
			l_price,
			monitor
	</sql>
    <sql id="Stock_Attr_List_NoId">
	      #{stockCode},
	      #{stockName},
	      #{type},
	      #{plate},
	      #{fileUrl},
	      #{zClose},
	      #{selTime},
	      #{buy},
	      #{season},
	      #{orderNum},
	      #{hPrice},
	      #{lPrice},
	      #{monitor}
	  </sql>
    <select id="listAll" resultMap="StockResultMap">
        select
        <include refid="Stock_Column_List"/>
        from
        <include refid="Stock_table_name"/>
    </select>
    <select id="searchByFilter" parameterType="StockFilter" resultMap="StockResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Stock_Column_List"/>
        from
        <include refid="Stock_table_name"/>
        <include refid="Stock_Where_Clause"/>
        <if test="orderField != null">
            order by ${orderField}
        </if>
        <if test="orderDirection != null">
            ${orderDirection}
        </if>
        <if test="pager == true">
            limit #{rows},#{numPerPage}
        </if>

    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="StockResultMap">
        select
        <include refid="Stock_Column_List"/>
        from
        <include refid="Stock_table_name"/>
        where id = #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Stock_table_name"/>
        where id = #{id}
    </delete>
    <insert id="insert" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Stock_table_name"/>
        (
        <include refid="Stock_Column_List_NoId"/>
        ) VALUES (
        <include refid="Stock_Attr_List_NoId"/>
        )
    </insert>
    <insert id="insertBySelective" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Stock_table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="stockCode != null and stockCode != ''">
                stock_code,
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name,
            </if>
            <if test="type != null and type!=''">
                type,
            </if>
            <if test="plate != null and plate!=''">
                plate,
            </if>
            <if test="fileUrl != null and fileUrl!=''">
                fileUrl,
            </if>
            <if test="zClose != null ">
                z_close,
            </if>
            <if test="selTime != null">
                sel_time,
            </if>
            <if test="buy != null">
                buy,
            </if>
            <if test="season != null and season != ''">
                season,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="hPrice != null">
                h_price,
            </if>
            <if test="lPrice != null">
                l_price,
            </if>
            <if test="monitor != null">
                monitor,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null">
                #{id},
            </if>
            <if test="stockCode != null and stockCode != ''">
                #{stockCode},
            </if>
            <if test="stockName != null and stockName != ''">
                #{stockName},
            </if>
            <if test="type != null and type!=''">
                #{type},
            </if>
            <if test="plate != null and plate!=''">
                #{plate},
            </if>
            <if test="fileUrl != null and fileUrl != ''">
                #{fileUrl},
            </if>
            <if test="zClose != null and zClose != ''">
                #{zClose},
            </if>
            <if test="selTime != null">
                #{selTime},
            </if>
            <if test="buy != null">
                #{buy},
            </if>
            <if test="season != null and season != ''">
                #{season},
            </if>
            <if test="orderNum != null">
                #{orderNum},
            </if>
            <if test="hPrice != null">
                #{hPrice},
            </if>
            <if test="lPrice != null">
                #{lPrice},
            </if>
            <if test="monitor != null">
                #{monitor},
            </if>
        </trim>
    </insert>
    <select id="countByFilter" parameterType="StockFilter" resultType="java.lang.Integer">
        select count(1) from
        <include refid="Stock_table_name"/>
        <include refid="Stock_Where_Clause"/>
    </select>
    <update id="updateBySelective" parameterType="Stock">
        update
        <include refid="Stock_table_name"/>
        <set>
            <if test="id != null">
                id=#{id},
            </if>
            <if test="stockCode != null and stockCode != ''">
                stock_code=#{stockCode},
            </if>
            <if test="stockName != null and stockName != ''">
                stock_name=#{stockName},
            </if>
            <if test="type != null and type!=''">
                type=#{type},
            </if>
            <if test="plate != null and plate!=''">
                plate=#{plate},
            </if>
            <if test="fileUrl != null and fileUrl !=''">
                fileUrl=#{fileUrl},
            </if>
            <if test="zClose != null and zClose !=''">
                z_close=#{zClose},
            </if>
            <if test="selTime != null">
                sel_time=#{selTime},
            </if>
            <if test="buy != null">
                buy=#{buy},
            </if>
            <if test="season != null and season != ''">
                season=#{season},
            </if>
            <if test="orderNum != null">
                order_num=#{orderNum},
            </if>
            <if test="monitor != null and monitor != 0">
                monitor=#{monitor},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="update" parameterType="Stock">
        update
        <include refid="Stock_table_name"/>
        set
        id=#{id},
        stock_code=#{stockCode},
        stock_name=#{stockName},
        type=#{type},
        plate=#{plate},
        fileUrl=#{fileUrl},
        z_close=#{zClose},
        sel_time=#{selTime},
        buy=#{buy},
        season=#{season},
        order_num=#{orderNum},
        h_price=#{hPrice},hPrice
        l_price=#{lPrice},
        monitor=#{monitor}
        where id=#{id}
    </update>
</mapper> 
