@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑"; font-size:12px; color:#666; margin:0; padding:0; word-break:break-all; word-wrap:break-word;}
body{min-width:1170px; background-attachment:fixed; background-color:#fff;}

ul{ list-style:none;}
a{ text-decoration:none; cursor:pointer;}
img{ border:none;}
button{ cursor:pointer;}
button:hover{opacity:0.8;filter:alpha(opacity=80);}

input[type='text']{ width:168px; padding:4px 5px 5px; border:1px solid #cbcbcb;}
input[type='text']:focus{ border:1px solid #8AACE3;}
textarea:focus{ border:1px solid #8AACE3 !important;}

/*特殊定义，防重复*/
.transition{ transition:all ease .3s; -webkit-transition:all ease .3s; -moz-transition:all ease .3s; -o-transition:all ease .3s;}


/*------------------------*/
.divCenter{ min-width:1170px; max-width:1370px; height:auto; margin:0 auto; clear:both;}
/*头底*/
.header{ background-color:#EFF0EF; border-bottom:1px solid #D1D1D1; height:35px; position:fixed; top:0; left:0; width:100%; z-index:500;}
.footer{ background-color:#EFF0EF; border-top:1px solid #D1D1D1; height:35px; position:fixed; bottom:0; left:0; width:100%; z-index:500;}
/*头底列表左*/
.ulLeft{ float:left; margin:0 8px;}
.ulLeft li{ width:auto; height:auto; float:left;}
.ulLeft li span{ font-size:12px; line-height:35px; float:left; margin-right:2px;}
.ulLeft li a{ padding:0 2px; color:#999; cursor:pointer; line-height:35px; display:block;}
.ulLeft li a:hover{ text-decoration:underline;}
.ulLeft li .aXl{ background:url(/resources/images/login/new/pic_xlwb.png) 0px 7px no-repeat; padding-left:27px;}
.ulLeft li .aTX{ background:url(/resources/images/login/new/pic_txwb.png) 0px 7px no-repeat; padding-left:19px;}
.ulLeft li .aWX{ background:url(/resources/images/login/new/pic_txwx.PNG) 0px 7px no-repeat; padding-left:28px;}
/*头底列表右*/
.ulRight{ float:right; margin:0 8px;}
.ulRight li{ width:auto; height:35px; border-left:1px solid #E0E1E0; line-height:35px; position:relative; float:left;}
.ulRight li:hover{ background-color:#fff;}
.ulRight li a{display:block; color:#999; cursor:pointer; border-left:1px solid #fff; padding:0 11px; height:35px; margin-top:0; text-align:center;*line-height:35px;*display:inline;*float:left;line-height: 35px;}
.ulRight li:last-child{ border-right:1px solid #fff;}
.ulRight li:last-child a{ border-right:1px solid #E0E1E0;}
.ulRight li .aImg{ background:url(/resources/images/login/new/icon_msg.png) 13px 12px no-repeat; padding:0 20px; position:relative;}
.ulRight li .aImg i{width:6px; height:6px; position:absolute; top:8px; right:9px; background-color:#DB0404; border:1px solid #fff; border-radius:10px; box-shadow:0px 1px 0.5em #fff;overflow: hidden;}
.ulRight li .aImgWeiping{ background:url(/resources/images/login/new/icon_w.png) 13px 12px no-repeat;}
.ulRight li .aImgFunction{ background:url(/resources/images/login/new/icon_sys.png) 15px 10px no-repeat;}
.ulRight li .imgPhoto{ width:22px; height:22px; float:left; margin-top:5px;}

.ulRight li .popupList{ background-color:#fff; position:absolute; top:35px; right:-1px; width:105px; height:auto; padding-top:1px; padding-bottom:1px; border:1px solid #E0E1E0; border-top:none; z-index:100; display:none;}
.ulRight li .popupList a{text-align: left;font-size:12px; *float:none; display:block;height: 30px;line-height: 30px;float: left;height: auto;width: 100%;padding: 0;text-indent: 5px;}
.ulRight li .popupList a:hover{background-color:#f2f2f2;}
.ulright li .popuplist a.publishSystemMsg:hover {background-color: #F2F2F2;}
.ulRight li .popupList span{ display:block; text-indent:1em; line-height:24px; height:24px; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ulRight li .popupList span:hover{ background-color:#EFF0EF;}
.ulRight li .popupList .divImgPh{ height:auto; width:100%; padding-top:10px;overflow: auto;}
.ulRight li .popupList .divImgPh a{float: left;width: 75px;}
.ulRight li .popupList .divImgPh a:hover {background: #fff;}
.ulRight li .popupList .divImgPh img{ width:58px; height:58px; margin-left:10px; float:left;}
.ulRight li .popupList .divImgPh div{ height:auto; width:106px !important; float:right; margin-right:5px; padding-bottom:5px;}
.ulRight li .popupList .divImgPh div a{ display:block; width:100%; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0; line-height:28px; height:28px;text-align: left;float: none;}
.ulRight li .popupList .divImgPh div p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;text-align: left;}
.ulRight li .popupList .divImgPh div p i{ font-style:normal;}
.ulRight li .popupList .divImgPh div .aNickName{ font-weight:bold;text-indent: 0;}
.ulRight li .popupList .divImgPh div .aNickName:hover{ color:#666;background-color:#fff;}
.ulRight li .popupList .divImgPh div button{ width:92px; height:22px; line-height:22px; border-radius:4px; background:url(/resources/images/login/new/financingW_06.png) repeat-x; background-size:92px 22px; border:1px solid #D3D5D8; margin-top:6px;}
/*登录的不同显示*/
.ulRight[name="none"]{ display:none;}
/*.ulRight[name="have"]{ display:none;}*/

/*------------------------*/
.footerNew{ clear:both; margin-top:20px; height:auto; min-height:164px; width:100%; background-color:#F5F5F5; border-top:1px solid #CCCCCC; position:relative; padding-bottom:3px;}
.footerNew h1{ height:1px; border-top:1px solid #ccc; position:absolute; top:68px; left:0; width:100%; z-index:10;}
.footerNew a:hover{ text-decoration:underline;}
.footerNew .footerCenter{ width:1170px; margin:0 auto; clear:both; position:relative;}
.footerNew .webLinks{ height:68px;}
.footerNew .webLinks p{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.footerNew .webLinks a{ line-height:34px; padding:3px 9px; color:#1A588E;}
.footerNew .infoSharing{ height:37px; padding-top:8px; clear:both;}
.footerNew .infoSharing label{ height:23px; vertical-align:middle; display:block;}
.footerNew .infoSharing label img{ width:23px; height:23px; margin-right:10px; cursor:pointer;}
.footerNew .infoSharing label span{ line-height:23px; float:left;}
.footerNew .mediaReportList{ height:auto; min-height:60px; margin-bottom:5px; padding-right:250px; overflow:hidden;}
.footerNew .mediaReportList p{ line-height:22px;}
.footerNew .mediaReportList a{ display:inline-block; margin-right:35px; margin-bottom:5px;}
.footerNew .mediaReportList img{ max-height:37px;}
.footerNew .mediaReportList .mediaReportImg{ height:auto; min-height:37px;}
.footerNew .ft_hotline{ position:absolute; top:79px; right:40px; width:200px;}
.footerNew .ft_hotline p{ line-height:24px;}
.footerNew .ft_hotline h2{ line-height:30px; color:#15456F; font-size:22px;}
.footerNew .ft_hotline a:hover{ text-decoration:underline;}
.footerCopyright{ background-color:#939393; height:42px; width:100%;}
.footerCopyright div{ width:1170px; margin:0 auto;}
.footerCopyright div ul{ width:49%; display:inline-block; color:#E6E6E6; *zoom:1; *display:inline;}
.footerCopyright div ul li{ line-height:42px; display:inline-block; *zoom:1; *display:inline; margin-right:9px;}
.footerCopyright div ul li a{ color:#E6E6E6; display:inline-block;}
.footerCopyright div ul li a:hover{ text-decoration:underline;}
.footerCopyright div ul.footerCopyrightR{ text-align:right;}
.footerCopyright div ul.footerCopyrightR li{ margin-right:0;}
.footerCopyright div ul.footerCopyrightR li a{ padding:0 5px;}
/*-------------------footerNew*/
/*背景+logo*/
.backgroundLogo{ width:1190px; height:117px; position:absolute; top:25px; left:-14px; z-index:-100; background-image:url(/resources/images/login/new/webNavBg1.png);}


/*主要的*/
.webMainBox{ width:1170px; margin:36px auto; clear:both; padding-top:8px;text-align: left;}

/*logo*/
.webMainBox .logoBox{ height:144px; position:relative; z-index:100;}
.webMainBox .logoBox .logoImg{ cursor:pointer; position:absolute; top:0; left:29px; width:341px; height:74px; display:block; z-index:200;}
.webMainBox .logoBox .logoBoxSearch{  position:absolute; top:111px; right:36px; width:250px; height:26px; clear:both; background-color:#F0EFEF; border-radius:4px;}
.webMainBox .logoBox .logoBoxSearch h3{font-weight:normal; width:67px; height:22px; line-height:24px; text-indent:8px; float:left; background:url(/resources/images/login/new/webSearchIcon.png) 54px 9px no-repeat; cursor:pointer; border-right:1px solid #CCC; margin-top:2px;}
.webMainBox .logoBox .logoBoxSearch h3:hover{ background-color:#EFF0EF;}
.webMainBox .logoBox .logoBoxSearch input{ width:145px; float:left; background-color:transparent; border:1px solid transparent; padding:3px 5px 3px; outline:none;}
.webMainBox .logoBox .logoBoxSearch input:focus{ border:1px solid transparent !important;}
.webMainBox .logoBox .logoBoxSearch a{width:19px; height:19px; position:absolute; top:3px; right:3px; background-color:#A31F06; border-radius:10px;}
.webMainBox .logoBox .logoBoxSearch a:hover{ opacity:0.7;filter:alpha(opacity=70);}
.webMainBox .logoBox .logoBoxSearch a img{ margin-top:3px; margin-left:3px;}
.webMainBox .logoBox .logoBoxSearch ul{ width:66px; height:auto; border:1px solid #cbcbcb; background-color:#fff; position:absolute; top:26px; left:0px; display:none; z-index:100;}
.webMainBox .logoBox .logoBoxSearch ul li{ cursor:pointer; padding:4px 0 5px; width:100%; text-indent:7px; border-bottom:1px solid #cbcbcb;}
.webMainBox .logoBox .logoBoxSearch ul li:last-child{ border-bottom:none;}
.webMainBox .logoBox .logoBoxSearch ul li:hover{ background-color:#EFF0EF;}

/*导航菜单*/
.webMainBox .logoBox .navList{ position:absolute; bottom:6px; left:4px; clear:both;}
.webMainBox .logoBox .navList a{ display:block; float:left; color:#fff; font-size:16px; padding:4px 12px; cursor:pointer; background-color:transparent; border-radius:3px; margin:0 8px 0 8px;}
.webMainBox .logoBox .navList a:hover{ background-color:#CE3330;}
.webMainBox .logoBox .navList i{ font-style:normal; color:#CCCCCC; float:left; margin:1px 0 0 0; font-size:19px;}
.webMainBox .logoBox .navList .aChoice{ background-color:#CE3330;}

/*最新消息*/
.webMainBox .lastNews{ margin:2px 0 8px 0; background-color:#F0F0F0; border-top:1px solid #CCCCCC; height:29px; width:100%; clear:both; position:relative;}
.webMainBox .lastNews .titleSpan{ color:#A80000; line-height:29px; margin-left:25px;}
.webMainBox .lastNews .newsDiv{ width:1013px; height:29px; position:absolute; left:85px; top:0; overflow:hidden;}
.webMainBox .lastNews .newsDiv .msgNews{ height:auto; margin-top:0; width:100%;}
.webMainBox .lastNews .newsDiv .msgNews a{ line-height:29px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block; width:100%;}
.webMainBox .lastNews .newsDiv .msgNews a:hover{ color:#06F; text-decoration:underline;}
.webMainBox .lastNews .buttonDiv{ width:auto; min-width:46px; height:21px; position:absolute; right:13px; top:4px;}
.webMainBox .lastNews .buttonDiv button{ width:21px; height:21px; border:none;}
.webMainBox .lastNews .buttonDiv .btnPrev{ background-image:url(/resources/images/login/new/webMsgL.png);}
.webMainBox .lastNews .buttonDiv .btnNext{ background-image:url(/resources/images/login/new/webMsgR.png);}


/*-----------主要内容-------------*/
.webMainBox .mainContent{ float:left; width:100%; height:auto; padding-bottom:20px; position:relative;}

/*管理中心nav*/
.controlMainLNav{ width:180px; border:1px solid #D9D9D9; background-color:#fff;display:inline-block; *zoom:1; *display:inline; vertical-align:top;}
.controlMainLNav .controlMLNBox{ margin:0 auto; text-align:center; background-color:#F2F2F2;}
.controlMainLNav .controlMLNBox img{ width:160px; height:160px; margin:10px 0;}
.controlMainLNav .controlMLNList{ background-color:#FBFBFB;}
.controlMainLNav .controlMLNList h3{ cursor:pointer; margin-left:15px; margin-right:12px; line-height:35px; font-size:14px; color:#15456F; border-bottom:1px dotted #8D8D8D;}
.controlMainLNav .controlMLNList h3:last-child{ border-bottom:none;}
.controlMainLNav .controlMLNList h3:hover{ color:#AB100F;}
.controlMainLNav .controlMLNList ul{ background-color:#fff;}
.controlMainLNav .controlMLNList ul li{ padding-left:28px; border-bottom:1px dotted #ccc; line-height:29px; height:29px; color:#777; cursor:pointer;}
.controlMainLNav .controlMLNList ul li a{color:#777; cursor:pointer;font-size: 12px;}
.controlMainLNav .controlMLNList ul li a:hover{ color:#AB100F;}
.controlMainLNav .controlMLNList ul .controlLiC{ color:#AB100F !important;}

/*管理中心主体部分*/
.controlMain{ display:inline-block; *zoom:1; *display:inline; vertical-align:top; margin-left:21px; height:auto; clear:both;min-height:818px; width:962px !important; max-width:962px !important; }
