@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; font-size:12px; font-family:"宋体"; font-size:14px; color:#666; background-color:#fff;*text-align: center;}
html,body,.mid_mian {height: 100%;}
body > .mid_mian {/*height: auto;*/ min-height: 100%;}
ul{ list-style:none; margin:0; padding:0;}
a,img{ text-decoration:none; border:none;}
i{ font-style:normal;}
/*mid_main*/
.mid_mian{ width:100%; margin-bottom:35px;}
/*header*/
.top_login{ height:28px; border-bottom:2px solid #D1D1D1; width:100%; background-color:#DDDDDD; min-width:1190px;}
.top_login .div_topPart{ width:1190px; margin:0 auto; color:#6E6E6E;font-size: 12px;}
.top_login .div_topPart .ul_weibo{ height:28px; width:auto; float:left;}
.top_login .div_topPart .ul_weibo li{ padding:0 6px; line-height:28px;  float:left; width:auto;}
.top_login .div_topPart .ul_weibo li:last-child{ background:none;}
.top_login .div_topPart .ul_login{ height:28px; width:auto; float:right; border-left:1px solid #C0C0C0; border-right:1px solid #fff;}
.top_login .div_topPart .ul_login li{ border-left:1px solid #fff; border-right:1px solid #C0C0C0; float:left; padding:0 8px; line-height:28px; width:auto;}
.top_login .div_topPart .ul_login li:last-child{}
.top_login .div_topPart a{ color:#6E6E6E;font-size: 12px;}
.top_login .div_topPart a:hover{ border-bottom:1px solid #6E6E6E;}
.top_login .div_topPart a .i_picXl{ width:24px; height:20px; background-image:url(../../images/login/pic_xlwb.png); display:block; float:left; margin-top:4px; margin-right:3px;}
.top_login .div_topPart a .i_picTxWb{ width:16px; height:23px; background-image:url(../../images/login/pic_txwb.png); display:block; float:left; margin-top:3px; margin-right:3px;}
.top_login .div_topPart a .i_picTxWx{ width:25px; height:21px; background-image:url(../../images/login/pic_txwx.PNG); display:block; float:left; margin-top:4px; margin-right:3px;}
/*footer*/
.bootom_div{ background-color:#929292; color:#DFDFDF; height:35px; width:100%; font-size:12px; clear:both; min-width:1190px; /*margin-top:-35px;*/ float:left; margin-top:0;*position: absolute;*left:0;}
.bootom_div .div_center{ width:1190px; margin:0 auto;}
.bootom_div .div_center a{ color:#DFDFDF;}
.bootom_div .div_center a:hover{ border-bottom:1px solid #DFDFDF;}
.bootom_div .div_center .ul_Copy{ float:left;}
.bootom_div .div_center .ul_Copy li{ float:left; line-height:35px; padding:0 4px; width:auto;}
.bootom_div .div_center .ul_Copy li span{ line-height:35px; float:left; margin-right:2px;}
.bootom_div .div_center .ul_Nav{ float:right;}
.bootom_div .div_center .ul_Nav li{ float:left; line-height:35px; padding:0 4px; width:auto;}

.loading{background: url(../../images/loading.gif) 50% 50% #F8F8F5 no-repeat; background-attachment: fixed;z-index: 10000}
.div_loading{background: url(../../images/loading.gif) 50% 50% #F8F8F5 no-repeat;z-index: 10000}