@charset "utf-8";
/* CSS Document */
*{font-family:"宋体";font-size:12px; margin:0; padding:0;}
body{ margin:0; padding:0; color:#666; background-color:#fff; background-color:#FAFAFA;}
html,body,.mid_mian {height: 100%;}
body > .mid_mian {height: auto; min-height: 100%;}
ul{ list-style:none; margin:0; padding:0;}
a,img{ text-decoration:none; border:none;}
i{ font-style:normal;}
dl,dt,dd{ margin:0; padding:0;}

/*mid_main*/
.mid_mian{ width:100%; margin-bottom:35px;}
/*weipingStyle*/
.header_top{ height:43px; width:100%; background-color:#F0F1F5; border-bottom:1px solid #cccccc; position:fixed; margin-bottom:43px; z-index:300;}
.header_top .div_m{ width:1150px; margin:0 auto;height:44px;}
.header_top .div_m .div_pic{ height:43px; width:auto; float:left; cursor:pointer;}
.header_top .div_m .nav_top{ height:43px; float:left; margin-left:18px;}
.header_top .div_m .nav_top li{ height:auto; float:left; width:auto; text-align:center; line-height:41px;color:#6E6E6E; text-shadow:0 1px 1px #fff;}
.header_top .div_m .nav_top li a{ color:#3F4952; height:auto; display:inline-block; cursor:pointer; padding:9px 9px; font-size:12px;}
.header_top .div_m .nav_top li a:hover{ color:#AB100F; background-color:#E1E1E1;}
.header_top .div_m .nav_top li button{width:auto; line-height:15px; height:23px; border:1px solid #CDCAC7; border-radius:4px; background:linear-gradient(top,#fff 0%,#F6F6F3 100%); background:-webkit-linear-gradient(top,#fff 0%, #F6F6F3 100%); box-shadow:#fff 0 -2px 3px inset; margin-top:10px;}
.header_top .div_m .nav_top li em{ font-style:normal; color:#3F4952; height:auto;padding:0 3px; line-height:43px;}
.header_top .div_m .nav_top li b{ color:#A80000; display:inline-block; max-width:160px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
/*头选中状态*/
.aHeadSelece{ color:#222 !important; background:url(../../images/login/hoverTitle.png) repeat-x;}

.header_top .div_m .div_right{ width:auto; height:auto; float:right; padding-top:9px; position:relative;}
.header_top .div_m .div_right img{ margin-right:12px; margin-top:7px; cursor:pointer; float:left;}
.header_top .div_m .div_right span{ width:40px; height:22px; line-height:24px; font-size:12px; text-align:center; border:1px solid #CCD1D0; border-right:none; float:left; cursor:pointer; display:block; margin-top:0; margin-right:0px;}
.header_top .div_m .div_right span:hover{color:#558CD2; background-color:#EFF5F5;}
.header_top .div_m .div_right input{ padding:4px 5px; width:156px; border:1px solid #CCD1D0; border-right:none; margin-right:0px; float:left; margin-top:0; font-size:12px; color:#666;}
.header_top .div_m .div_right button{ background-color:transparent; border:1px solid #CCD1D0; width:41px; height:24px; color:#606060; font-size:12px; float:left; margin-top:0; cursor:pointer; padding:0;}
.header_top .div_m .div_right button:hover{color:#7FB6D5; background-color:#EFF5F5;}
.header_top .div_m .div_right .ulSelect{ position:absolute; top:30px; right:207px; width:40px; border:1px solid #CCD1D0; border-top:none; border-bottom:none; display:none;}
.header_top .div_m .div_right .ulSelect li{ width:100%; line-height:24px; height:auto; font-size:13px; text-align:center; border-bottom:1px solid #CCD1D0; cursor:pointer; background-color:#EDEDED;}
.header_top .div_m .div_right .ulSelect li:hover{color:#558CD2; background-color:#EFF5F5;}
.header_top .div_m .div_right p{ position:absolute; top:14px; left:50px; width:auto; font-size:12px; z-index:10;}
/*footer*/
.weipingF{ background-color:#E6E6E6; color:#DFDFDF; height:35px; width:100%; font-size:12px; clear:both; min-width:1190px; margin-top:-35px; float:left;}
.weipingF .div_center{ width:1190px; margin:0 auto;}
.weipingF .div_center a{ color:#666; cursor:pointer; font-size:12px; line-height:38px;}
.weipingF .div_center a:hover{ border-bottom:1px solid #666;}
.weipingF .div_center .ul_Copy{ float:left;}
.weipingF .div_center .ul_Copy li{ float:left; line-height:35px; padding:0 4px; width:auto;}
.weipingF .div_center .ul_Copy li span{ line-height:40px; float:left; font-size:22px; margin-right:2px;}
.weipingF .div_center .ul_Nav{ float:right;}
.weipingF .div_center .ul_Nav li{ float:left; line-height:35px; padding:0 4px; width:auto;}

/*-------------基本框架---------------*/
.mid_mian .dlBox{ width:1170px; height:auto; margin:-4px auto 0; position:relative;}
.mid_mian .dlBox .dtLeft{ width:205px; height:auto; float:left; margin-bottom:18px;background:url(../../images/login/background.png) repeat; border:1px solid #E0E0E0; border-top:none; padding-bottom:40px;}
.mid_mian .dlBox .dtLeft .photo{ width:160px; height:160px; margin-top:37px; margin-left:22px; box-shadow:0 .3em .5em #cccccc; cursor:pointer;}
.mid_mian .dlBox .dtLeft .ulNavLeft{ width:89%; height:auto; margin-left:22px; margin-top:24px;}
.mid_mian .dlBox .dtLeft .ulNavLeft .titleName{ font-size:19px; color:#393939; margin-top:10px; text-align:left;}
.mid_mian .dlBox .dtLeft .ulNavLeft li,a{ font-size:14px; color:#2884A9; line-height:26px; /*text-align:center;*/}
.mid_mian .dlBox .dtLeft .ulNavLeft a{ display:block; border:1px solid transparent; border-right:none; text-indent:39px; cursor:pointer;}
.mid_mian .dlBox .dtLeft .ulNavLeft a:hover{ background-color:#fff; border:1px solid #DBDBDB; border-right:none; border-top-left-radius:2px; border-bottom-left-radius:2px;}

.liASelect{ background-color:#fff; border:1px solid #DBDBDB !important; border-right:none; border-top-left-radius:2px; border-bottom-left-radius:2px;}

.mid_mian .dlBox .ddRight{ width:81.5%; height:auto; float:right; margin-bottom:18px;}
.mid_mian .dlBox .ddRight .capion{ margin-top:27px; margin-left:20px; width:468px; line-height:29px; padding:13px 38px; color:#777777; background-color:#F3F3F3;}
.mid_mian .dlBox .ddRight .capion span{ color:#B70016 !important;}

/*-------------内容---------------*/
input[type='text'],select,input[type='password']{ padding:8px 5px; margin:0; color:#666; font-size:12px; border:1px solid #D8D8D9; border-radius:2px;}
#checkCode{ cursor:pointer; float:left; border:none; background-color:#fff;margin-left:-134px; margin-top:1px;width:88px; height:34px; font-size:16px;}
strong{ font-style:normal; font-weight:normal; font-size:12px; color:#999; line-height:16px; margin-left:10px; display:none;}
/*内容-错误提示文字*/
.iPrompt{ color:#F30; font-style:normal; margin-left:10px; font-size:12px;}
/*内容-错误提示图标*/
h6{ margin:0; padding:0; width:17px; height:17px; background-image:url(../../images/login/picT.png); display:inline-table;}
h5{ margin:0; padding:0; width:17px; height:17px; background-image:url(../../images/login/picF.png); display:inline-table;}
/*内容外框*/
.divRCon{ height:auto; width:98%; margin:60px auto 0;}
.divRCon .divBox{ width:100%; height:auto; position:relative; height:54px;}
/*内容小-左侧标题*/
.divRCon .divBox .div_title{ position:absolute; left:0; top:0; width:130px; text-align:right; line-height:33px; white-space:nowrap;text-overflow:ellipsis; font-size:14px;}
.divRCon .divBox .div_title em{ font-style:normal; color:#B70016; margin-right:3px;}
/*内容小-右侧内容*/
.divRCon .divBox .div_content{ position:absolute; left:139px; top:0; width:710px; line-height:27px; overflow:hidden;}
.divRCon .divBox .div_content input[type='text']{ width:366px;}
.divRCon .divBox .div_content label{ margin-right:40px; line-height:36px; display:inline-block;}
.divRCon .divBox .div_content input[type='radio']{ margin-right:10px;}
.divRCon .divBox .div_content select{ width:377px;}
/*内容-密码强度使用*/
.divRCon .divBox .div_content h1{ width:62px; height:7px; border:1px solid #ccc; margin:0; display:inline-block; margin-right:3px; background-color:#CEE5F8; border:none; border-bottom:1px solid #CBDFF0; margin-top:11px;}
/*--安全级别设置--*/
.divRCon .divBox .div_content .hSafe{ background-color:#69B4F5; border-bottom:1px solid #5EA0DA;}
/*内容-确定按钮*/
.btnOk{ width:136px; height:38px; border:none; background-color:#BC0000; color:#fff; margin-left:150px; margin-top:13px; margin-left:305px;}
.btnOk:hover{ background-color:#f56161;}
.btnCancel{ width:136px; height:38px; border:none; background-color:#CECECE; left:379px; position:absolute; color:#fff;}
.btnCancel:hover{ background-color:#b8b6b6;}
/*内容-刷新验证码按钮*/
.divRCon .divBox .div_content .btnRefresh{margin-left:-44px; margin-top:1px; cursor:pointer; width:43px; height:34px; border:none;background-image:url(../../images/login/btnRefresh.png); border-left:1px solid #DEDEDF; float:left;}
/*设置file按钮*/
input[type='file']{ opacity:0; filter:alpha(opacity=0); position:absolute; top:0; left:0; width:120px; height:28px; cursor:pointer; z-index:1; cursor:pointer; z-index:1;}

/*--------------转积分窗口--------------*/
.sendWin{ width:500px; height:439px; position:fixed; top:17%; left:32%; z-index:501; background-color:#fff; border:1px solid #ccc; border-radius:2px; display:none;}
.sendWin .top_title{ width:100%; border-radius:2px; position:relative; height:45px; background-color:#f2f2f2;}
.sendWin .top_title h1{ margin:0; font-weight:normal; font-size:14px; position:absolute; left:16px; top:0; line-height:45px;}
.sendWin .top_title a{ cursor:pointer; line-height:34px; font-size:23px; padding:0 5px; position:absolute; right:8px;}

.sendWin .mid_btnTab{ width:auto; margin-top:13px; display:inline-block; height:31px; border:1px solid #DDDDDD; border-radius:3px; padding-right:10px; margin-left:14px;}
.sendWin .mid_btnTab a{ font-size:13px; margin-left:10px; cursor:pointer; width:139px; height:46px; display:inline-block; text-align:center; display:inline-block; color:#333; margin-top:-4px; line-height:44px;}
.sendWin .mid_btnTab a:hover{ color:#7B0405;}

/*tab_关注人*/
.sendWin .mid_tabShow{ width:91%; height:300px; margin:15px auto auto; background-color:#F8F8F8; padding:10px;}
.sendWin .mid_tabShow .showBtnSet{ width:100%; position:relative; height:25px;}
.sendWin .mid_tabShow .showBtnSet input[type='text']{ padding:8px 10px; width:348px;}
.sendWin .mid_tabShow .showBtnSet .otherConName{ left:0; width:160px;}
.sendWin .mid_tabShow .showBtnSet .otherConNNameEmail{ left:160px; width:160px;}
.sendWin .mid_tabShow .showBtnSet button{ width:63px; height:31px; border:1px solid #BCBCBC; color:#8B8B8B; background:url(../../images/login/btnBg.png) repeat-x; border-radius:2px;}
.sendWin .mid_tabShow .showBtnSet button:hover{ color:#000;}

.sendWin .mid_tabShow table{ width:100%; border-collapse:collapse; margin-top:17px; height:auto; max-height:167px; table-layout:fixed;}
.sendWin .mid_tabShow table tr{ height:38px;}
.sendWin .mid_tabShow table tr:hover{ background-color:#CCD1D0;}
.sendWin .mid_tabShow table .trRow1{ height:29px;}
.sendWin .mid_tabShow table .trRow1:hover{ background-color:transparent;}
.sendWin .mid_tabShow table th{ padding:4px 9px; font-weight:normal;}
.sendWin .mid_tabShow table td{ padding:4px 9px; text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.sendWin .mid_tabShow table td input[type='text']{ padding:8px 10px; width:122px;}
.sendWin .mid_tabShow table td button{ width:51px; height:31px; border:1px solid #BCBCBC; color:#8B8B8B; background:url(../../images/login/btnBg.png) repeat-x; border-radius:2px;}
.sendWin .mid_tabShow table td button:hover{ color:#000;}

/*tab_其它*/
#tab_1{ display:block;}
/*#tab_2{ display:none;}*/
/*-----------------分页按钮----------------*/
.sendWin .bot_page{ width:50%; height:30px; margin:15px auto auto; position:relative;/* display:none;*/}
.sendWin .bot_page button{ position:absolute; width:79px; height:26px;  border:none; background-color:#fff; color:#777; border:1px solid #ccc; border-radius:3px;}
.sendWin .bot_page button:hover{ color:#2884A9;}
.sendWin .bot_page .btnLeftUp{ left:0; top:0;}
.sendWin .bot_page .btnRightNext{ right:0; top:0;}

/*-----------------时间显示(积分管理、项目管理)----------------*/
.dateShowTxt{ width:100px; text-align:center; background:url(../../images/login/pic_arrows.png) 93px center no-repeat #fff; cursor:pointer;}

/*----------------弹出背景层设置-----------------*/
.divBackgroud{ width:100%; height:100%; background-color:#000; position:absolute; position:fixed; top:0; left:0; opacity:0.3; filter:alpha(opacity:30); visibility:visible; z-index:500;}

.winDivBg{ width:516px; height:455px; top:16%; left:31.5%; border-radius:5px; background-color:#000; position:absolute; position:fixed; opacity:0.4; filter:alpha(opacity:40); visibility:visible; z-index:500;}

/*带背景图片的*/
.selectTabBg{ background-image:url(../../images/login/bgHover.png); width:139px; height:46px; color:#7B0405;}

/*密码强度颜色设置*/
.passwordColorSet{ background-color:#69B4F5; border-bottom:1px solid #5EA0DA;}

/*日历月份键*/
.ui-corner-all{ line-height:16px !important;}

input[type='text']:focus{ border:1px solid #0b8efc;}
input[type='password']:focus{ border:1px solid #0b8efc;}
