@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-size:12px; font-family:Verdana,"宋体"; color:#444;}
body{ margin:0; padding:0;}
ul{ list-style:none;}
.loading{background: url(../../images/loading.gif) 50% 50% #F8F8F5 no-repeat; background-attachment: fixed;filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;}
input[type="text"],textarea,select{ border:1px solid #E8E6E3; width:300px; padding:6px 8px; border-radius:2px; color:#908B87;}
input[type="checkbox"]{ vertical-align:middle; margin-right:4px;}
input[type="radio"]{ vertical-align:middle; margin-right:4px;}
input[type="file"]{ display:none;}
input.error, textarea.error,select.error{border-color: #349CD8}
span.error{color: red;}
textarea{ width:370px; height:96px; line-height:16px; overflow-y:auto; resize:none;  margin-left:54px;}
select{ width:147px; padding:5 8px; height:30px; line-height: 22px;}

.btnNormal{background:-webkit-linear-gradient(top, #fff 35%,#efefef 100%); background:linear-gradient(#fff 35%,#efefef 100%); border:1px solid #CDCAC7; border-radius:3px; color:#584F47; cursor:pointer;}

i{ font-style:normal; color:#AB100F;}
em{ font-style:normal; color:#349CD8;top: auto;}
b{ color:#9F9994; margin-left:8px; font-weight:normal;}

label{ margin-left:5px;}
h1{ margin:8px auto 0 0; border-bottom:1px solid #DFDDDA; height:1px; width:95.5%; display: none;}

.btnNormal{ width:100px; height:26px;}
.btnSubmit{ width:150px; height:26px;background: none; margin-left: 79px;margin-right: 40px;background-color: #D8190F;color: #fff;border: 1px solid #D8190F;}
#btnClose{ width:150px !important;}

.em_word{ line-height:24px; margin-left:46px; cursor:pointer;}
.label_checkbox{ margin-left:28px;}
.span_right{ display:inline-table; width:99px; text-align:right;}

.fontSize{ font-size:11px;}
.width95{ width:95px;}

.lbImg{ line-height:34px; height:34px; display:inline-block; margin-right:15px;}
#lbImg_s{ padding-left:34px; background:url(../../images/sina.png) no-repeat; margin-right:56px;}
#lbImg_w{ padding-left:39px; background:url(../../images/weixin.png) no-repeat;}


.box{ width:560px; height:auto; margin:0 auto; padding:0 8px 10px;}
.box .box_div{ height:auto;   padding:4px 0 2px 10px;}
.box .box_div:last-child{ border-bottom:none;}
.box .box_div:nth-child(even){ background-color:#fdfcfa;}
.box .box_div:nth-child(odd){ background-color:#fff;}
.box .box_div span{ margin-right:10px; line-height:24px;display: inline-block;text-align: left;min-width: 90px;}
.box .box_div input[type="text"]{}
.box .divType{font-size:14px; font-weight:bold; display:inline-block; border:1px solid #ddd; padding:6px 25px; border-top-left-radius:8px;border-top-right-radius:8px; margin-top:15px; z-index:1; border-bottom:1px solid #fff; color:#666; margin-right:30px; cursor:pointer; background:url(../../images/tabBG.png) repeat-x; background-position:bottom;}
.box .proTypeBox{ margin-top:-1px; margin-bottom:10px; width:100%; height:auto; padding:10px 0; border-top:1px solid #ccc;}
.span_limit { margin-left:6px;}
.input_limit{ width:146px !important;}
.input_middle{ width:100px !important;}
.select_limit{ width:70px;}
.select_small{ width:94px;}
.select_right{ text-align:right;}
.tab_bottom{ border-bottom:1px solid #ddd !important;}
#selectSubjectParent,#submitSuccessParent,#selectMergerParent{ position:relative;margin-top:20px;}
/*选择资金主体*/
.subjectBox{ width:379px; height:auto; padding-bottom:19px; background-color:#F8F8F5; border:1px solid #CDCAC7; border-radius:5px;margin:0 auto; position:absolute; top:-218px; left:7px; display:none; z-index:100;}
.subjectBox .subjectBox_title{ height:34px; margin:0; width:100%; border-top-left-radius:5px; border-top-right-radius:5px; background:linear-gradient(#F8F8F6 25%,#EDEDE8 100%); border-bottom:1px solid #D0CDCA; box-shadow:0 1px 1px #EFEDEA;}
.subjectBox .subjectBox_title span{ width:102px; height:34px; background:url(../../images/niuniulogo.png) 7px 6px no-repeat; color:#584F47; line-height:34px; padding-left:40px; display:block;}
.subjectBox .subjectBox_div{ margin-top:7px; margin-left:13px; }
.subjectBox .subjectBox_div .subject{ margin-left:10px; display:inline-block; width:72px;}
.subjectBox .subjectBox_div input[type="checkbox"]{ width:15px; height:15px;}
.subjectBox .subjectBox_btnBox{ width:236px; margin:21px auto 0 auto;}
.subjectBox .subjectBox_btnBox #btnOk{ margin-right:5px;}

.subjectBox .subjectBox_div table{ table-layout:fixed; border-collapse:collapse; width:85%; margin:0 auto;}
.subjectBox .subjectBox_div table tr{ height:28px;}
.subjectBox .subjectBox_div table tr td{ text-align:left; text-indent:15px;}
.subjectBox_div label {min-width: 76px;display: inline-block;margin: 6px 0;*zoom:1;*display: inline;}

/*提交项目后显示窗体*/
.submitSuccessBox{ width:379px; height:180px; background-color:#F8F8F5; border:1px solid #CDCAC7; border-radius:5px;margin:0 auto; position:absolute; top:-300px; left:11px; display:none;}
.submitSuccessBox .div_successBox{ width:313px; margin:25px auto 23px;}
.submitSuccessBox .div_successBox p{ width:100%; line-height:23px;}
.submitSuccessBox .btnSubmit{ margin-left:96px;}

/*拟投资行业*/
#btnOk_merger{ margin-right:5px;}
#selectMergerWindow{ top:21px;}
#selectMergerWindow .subjectBox_div{ width:371px;}
#selectMergerWindow .subjectBox_div label{ margin-left:-7px; width:95px;}

/*上市公司*/
#listedCompany_div{ display:none;}
/*非上市公司*/
#nonListedCompany_div{ /*display:none;*/}
.double_valid_div span:last-child{margin-left:-100px;}
/*理财投资div*/
#manageMoneyMatters{ display:none;}
#investmentHorizon{ display:none;}

/*债权投资div*/
#windControl{ display:none;}

/*上传附件进度*/
.enclosureBox{  height:15px; width:163px; padding:1px; position:absolute; top:2px; left:240px;}
.enclosureBox .bar_div{ background:linear-gradient(#FEFEFE 0%,#DFE0DF 100%); height:14px; width:20%;}

/*附件div*/
.enclosure_Div{ height:auto;}
.enclosure_Div dl{ width:50px; margin-right:4px; height:auto; display:inline-block;position: relative;}
.enclosure_Div dl dt{ width:31px; height:31px; margin:0 auto; background:url(../../images/images.png) center center #fff no-repeat; border-radius:3px; border:1px solid #DAD8D6;position: relative;}
.enclosure_Div dl dd{ width:100%; height:19px; line-height:19px; margin-left:0; text-align:center;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.btnCloseEn {position: absolute;top: -4px;right: 1px;background-color: red;color: #fff;padding: 1px 3px 2px;border-radius: 10px;line-height: 13px;text-align: center;display: none;}

/*理财产品-产品类型*/
#productType label{ margin-left:2px; margin-right:0;}

/*更多box*/
.more_box{ display:none;}
/*项目积分说明窗体*/
.positionRelative{ position:relative;}

.projectPoints{ cursor:pointer;}
#projectPoints_win{ position:absolute; top:22px !important; left:11px !important;}
#projectPoints_win .subjectBox_title span{ width:247px !important;}
#projectPoints_win .subjectBox_div{ width:347px !important;}
#projectPoints_win .subjectBox_div p{ width:82%; margin:0 auto;}
#projectPoints_win .subjectBox_btnBox{ margin-top:7px !important;}
#projectPoints_win .subjectBox_btnBox #btnOk_pro{ margin-right:5px;}

/*div check*/
.div_check{ background:url(../../images/check.png) -4px -4px no-repeat;display:inline-block; padding-left:15px; height:13px; margin-top:5px; cursor:default;}
.div_check:hover{background:url(../../images/check.png) -4px -54px no-repeat;}
.div_select{background:url(../../images/check.png) -4px -104px no-repeat;display:inline-block; padding-left:15px; height:13px; margin-top:5px; cursor:default;}
.div_select:hover{background:url(../../images/check.png) -4px -154px no-repeat;}

.divRadio{ background: url(../../images/iconCR.png) 0 -64px no-repeat;display: inline-block;padding-left: 15px;height: 13px;margin: 10px auto -2px 9;cursor: default;}
.divRadio:hover{background:url(../../images/iconCR.png) 0 -96px no-repeat;}
.divRadioCheck{background:url(../../images/iconCR.png) 0 -80px no-repeat;display: inline-block;padding-left: 15px;height: 13px;margin: 10px auto -2px 9;cursor: default;}
.divRadioCheck:hover{background:url(../../images/iconCR.png) 0 -112px no-repeat;}

form{margin: 0;}
.boxBg{background-color: #fff;border: 1px solid #E4E1DE;border-radius: 5px;margin: 6px 0;}
.boxBg .box_div:first-child{ border-top-left-radius:5px; border-top-right-radius:5px;}
.boxBg .box_div:last-child{ border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
