<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.niuniu.ym.dao.StockDao">
	<select id="selectUpStock" parameterType="int" resultMap="StockResultMap">
		select * from stock where id &lt; #{stockId} order by id desc limit 1
	</select>
	<select id="selectNextStock" parameterType="int" resultMap="StockResultMap">
		select * from stock where id &gt; #{stockId} order by id asc limit 1	
	</select>

	<insert id="insert_stock_bak" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
		insert into
		stock_bak
		(
		<include refid="Stock_Column_List"/>
		) VALUES (
		<include refid="Stock_Attr_List"/>
		)
	</insert>


	<delete id="delete_stock">
		delete from  <include refid="Stock_table_name"/>
	</delete>



</mapper>
