@charset "utf-8";
/* CSS Document */

*{ font-size:12px; margin:0; padding:0; font-family:"微软雅黑"; color:#666; word-break:break-all; word-wrap:break-word;}

.newMain{ width:98%; height:auto; margin:0 auto; overflow:hidden; padding-top:30px; padding-bottom:30px;}

.newMain button{ border:1px solid #ccc; border-radius:4px; width:100px; height:24px; cursor:pointer;}
.newMain button:hover{opacity:0.8;filter:alpha(opacity=80);}

.newMainL{ width:99%; border:1px solid #ccc; display:inline-block; *zoom:1; *display:inline; vertical-align:top;}
.newMainL ul{}
.newMainL ul li{ padding:8px 0; border-bottom:1px dotted #ccc;}
.newMainL h1{ font-weight:normal; display:inline-block; *zoom:1; *display:inline; width:103px; text-align:left; margin-left:10px; vertical-align:top; resize:none; line-height:24px;}
.newMainL h1 b{ color:red;}
.newMainL textarea{ border:1px solid #ccc; padding:2px 5px; width:620px; height:400px; resize:none; line-height:22px;}
.newMainL textarea:focus{ border:1px solid #6CF; outline:none;}
.newMainL textarea.txtDescribe{ height:67px;}
.newMainL input[type='text']{ border:1px solid #ccc; padding:3px 5px; width:400px; margin-right:10px;}
.newMainL input[type='text']:focus{ border:1px solid #6CF; outline:none;}
.newMainL label{ margin-right:20px; line-height:22px;}
.newMainL label input[ type='radio']{ vertical-align:top; margin-top:5px; margin-right:5px;}
.newMainL label.lblRadio{ display:inline-block; min-width:135px;}
.newMainL .btnTags{}


.newMainR{ width:483px; border:1px solid #ccc; display:inline-block; *zoom:1; *display:inline; vertical-align:top; margin-left:11px; height:auto; padding:10px 5px;}
.newMainR h2{ padding:2px 0; border-bottom:1px solid #ccc;}
.newMainR .thumbnail{ border:1px solid #ddd; width:473px; height:200px; margin:10px auto 0;}
.newMainR .thumbnail img{ width:473px; height:200px;}
.newMainR .thumbnailBox{ padding:5px 3px; margin-bottom:10px;}
.newMainR .thumbnailBox button{ width:78px;margin-left: 120px;}
.newMainR .thumbnailBox .thumbnailR{ margin-left:27px;}
.newMainR .allowreply{ padding:5px 3px;}
.newMainR .allowreply label{ display:inline-block; min-width:81px; line-height:22px;}
.newMainR .allowreply label input{ vertical-align:top; margin-top:5px; margin-right:5px;}

.newMainPopup{ width:auto; max-width:950px; height:auto;}